@using HungryUp.Mvc.Resources
@using HungryUp.Mvc.ViewModel
@model HomeViewModel
@{
    ViewBag.Title = "Hungry";
    string message = "";
    var votoMessage = TempData["VoteMessage"];
    if (votoMessage != null)
    {
        message = votoMessage.ToString();
    }
    var hourComplete = Model.HourComplete;
    var dateNow = Model.DateNow;
    string countdownAvaible = "no";
    if (!string.IsNullOrEmpty(dateNow) && !string.IsNullOrEmpty(hourComplete))
    {
        countdownAvaible = "yes";
    }
}

<h3>@Model.TitleMessage</h3>
<hr />
@if (!string.IsNullOrEmpty(message))
{
    <h5>@message</h5>
    <br />
}
@if (countdownAvaible == "yes")
{
    <h5 style="font-weight:bold;">@LabelText.TimeLeftForVoting <span id="countdown"></span></h5>
}

<div class="row">
    @if (Model.Restaurants != null && Model.Restaurants.Count > 0)
    {
        <div class="col-md-6">
            <h4>@LabelText.AvaiableRestaraunts</h4>
            <table style="width:100%;">
                <tr>
                    <th>@LabelText.Restaurant</th>
                    <th style="text-align:center">@LabelText.Vote</th>
                </tr>
                @foreach (var item in Model.Restaurants)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            @Html.ActionLink("Vote", "Vote", new { id = @item.RestaurantId }, new { @class = "btn btn-default", @style = "width:100%" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

    @if (Model.ScoreBoard != null && Model.ScoreBoard.Count > 0)
    {
        <div class="col-md-6">
            <h4>@LabelText.ScoreBoard</h4>
            <table style="width:100%;">
                <tr>
                    <th>@LabelText.Restaurant</th>
                    <th style="text-align:center">@LabelText.Votes</th>
                </tr>
                @foreach (var item in Model.ScoreBoard)
                {
                    <tr>
                        <td>@item.Restaurant</td>
                        <td style="text-align:center">@item.Votes</td>
                    </tr>
                }
            </table>
        </div>
    }
</div>

@section Scripts{
    <script src="~/Scripts/function.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@countdownAvaible' == 'yes') {
                countdown("countdown", '@dateNow', '@hourComplete', tempoExpirado);
            }
        });
        function tempoExpirado() {
            var url = '@Url.Action("Index", "Home")';
            console.log(url);
            window.location.href = url;
        }
    </script>
}