@using HungryUp.Mvc.Resources
@using HungryUp.Mvc.ViewModel
@model HomeViewModel
@{
    ViewBag.Title = "Hungry";
    string message = "";
    var votoMessage = TempData["VoteMessage"];
    if (votoMessage != null)
    {
        message = votoMessage.ToString();
    }
    var hourComplete = Model.HourComplete;
    var dateNow = Model.DateNow;
    string countdownAvaible = "no";
    if (!string.IsNullOrEmpty(dateNow) && !string.IsNullOrEmpty(hourComplete))
    {
        countdownAvaible = "yes";
    }
}

<h3>@Model.TitleMessage</h3>
<hr />
@if (!string.IsNullOrEmpty(message))
{
    <h5>@message</h5>
    <br />
}
@if (countdownAvaible == "yes")
{
    <h5 style="font-weight:bold;">@LabelText.TimeLeftForVoting <span id="countdown"></span></h5>
}

<div class="row">
    @if (Model.Restaurants != null && Model.Restaurants.Count > 0)
    {
        <div class="col-md-6 table-restaurant">
            <h4>@LabelText.AvaiableRestaraunts</h4>
            <table style="width:100%;">
                <tr>
                    <th>@LabelText.Restaurant</th>
                    <th style="text-align:center">@LabelText.Vote</th>
                </tr>
                @foreach (var item in Model.Restaurants)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            @Html.ActionLink("Vote", "Vote", new { id = @item.RestaurantId }, new { @class = "btn btn-default", @style = "width:100%" })
                        </td>
                    </tr>
                }
            </table>
        </div>
    }

    <div class="col-md-6" id="scoreboard" style="display:none;">
        <h4>@LabelText.ScoreBoard</h4>
        <table id="myDataTable" class="table display table-striped table-vh-center myDataTable">
            <thead class="myHead">
                <tr>
                    <th>@LabelText.Restaurant</th>
                    <th style="text-align:center">@LabelText.Votes</th>
                </tr>
            </thead>
            <tbody class="myBody"></tbody>
        </table>
    </div>

</div>
<div class="container">
    <ul id="discussion"></ul>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/home")
    <script type="text/javascript">
        $(document).ready(function () {
            if ('@countdownAvaible' == 'yes') {
                countdown("countdown", '@dateNow', '@hourComplete', tempoExpirado);
            }

            var score = '@Html.Raw(Model.ScoreBoardJson)';
            var scoreList;
            if (score)
                scoreList = JSON.parse(score);

            var table = $('#myDataTable');

            table.dataTable({
                "bLengthChange": false,
                paging: false,
                searching: false,
                ordering: false,
                select: false,
                info: false,
                "oLanguage":
                {
                    "sEmptyTable": " ",
                    "sZeroRecords": " "
                },
                columns: [
                    { data: 'Restaurant' },
                    { data: 'Votes', className: "text-center" }
                ]
            });
            showTableScore(scoreList);
        });

        function tempoExpirado() {
            var url = '@Url.Action("Index", "Home")';
            window.location.href = url;
        }

        function showTableScore(scoreList) {
            if (scoreList) {
                var table = $('#myDataTable');
                table.dataTable()._fnClearTable();
                table.dataTable().fnAddData(scoreList);
                $("#scoreboard").slideDown("slow");
            } else {
                $("#scoreboard").slideUp("slow");
            }
        }
    </script>
    <script src="/signalr/hubs"></script>
    <script type="text/javascript">
        $(function () {
            var score = $.connection.scoreHub;
            score.client.broadcastMessage = function (scoreBoard) {
                if (scoreBoard) {
                    if (scoreBoard === "voteEnding") {
                        tempoExpirado();
                    } else {
                        scoreList = JSON.parse(scoreBoard);
                        showTableScore(scoreList);
                    }
                }
            };

            $.connection.hub.start().done(function () {

            });
        });
    </script>
}